html {
  font-family: 'Helvetica';
  background-color: white;
}

.header {
  background-color:gainsboro;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  height: 100px;
  font-weight: bold;
}

.logo img {
  max-height: 100px;
}

.menu button {
  background-color: blue;
  color: white;
  position: relative;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 70px;
  margin: 0 5rem;
}

button{
  background-color:blue;
  border: none;
  height: 30px;
  font-weight: bold;
  color:white;
}

button:hover {
  border: 2px solid;
}

.ScreenName {
  background-color: rgb(208, 209, 206);
  height:40px;
  font-size: 15px;
  text-align: center;
  padding: 3px;
  font-weight: bold;
}

/*--------------------------Inicio -----------------------*/
.caja-gris{
  background-color: gainsboro;
  width: 500px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.caja-gris img{
  width: 500px;
  height: 200px;
}

.boton_inicio {
  color: white;
  background-color: blue;
  padding: 5px 25px;
  border-radius: 4px;
  margin: 20px;
  position: relative;
  top: 300px;
  left: 250px;
}

/*--------------------------Lista Usuario-------------------*/
#container h1{
  font-size: 35px;
  display: inline-block;
}
.btn_new{
  display: inline-block;
  background: blue;
  color: white;
  padding: 5px 25px;
  border-radius: 4px;
  margin: 20px;
}
table{
  border-collapse: collapse;
  font-size: 12pt;
  font-family: 'arial';
  width: 100%;
}
table th{
  text-align: left;
  padding: 10px;
  background: #3d7ba8;
  color: white;
}
table tr:nth-child(odd){
  background: #DDDBFF;
}
table td{
  padding: 10px;
}
.link_edit{
  color: #0ca4ce;
}
.link_delete{
  color: #f26b6b;
}

/*--------------------------Registro Usuario-------------------*/

.form_register{
  width: 500px;
  margin: auto;
}
.form_register h2{ 
  color: black;
}

form{
  background-color: #EAEAEA;
  margin: auto;
  padding: 20px 50px;
}
label{
  display: block;
  font-size: 12pt;
  margin: 15px auto 5px auto;
}
input,select{
  display: block;
  width: 60%;
  font-size: 12pt;
  padding: 5px;
  border: 1px solid #85929e;
  border-radius: 5px;
}
.btn_guardar{
  font-size: 12pt;
  background: blue;
  padding: 5px;
  color: white;
  margin: 20px auto;
  width: 8%

}
.btn_cancelar{
  font-size: 12pt;
  background: blue;
  padding: 5px;
  color: white;
  margin: 20px auto;
  width: 8%
}

/*--------------------------Lista Usuario-------------------*/

#container h1{
  font-size: 35px;
  display: inline-block;
}
.btn_new{
  display: inline-block;
  background: blue;
  color: white;
  padding: 5px 25px;
  border-radius: 4px;
  margin: 20px;
}
table{
  border-collapse: collapse;
  font-size: 12pt;
  font-family: 'arial';
  width: 100%;
}
table th{
  text-align: left;
  padding: 10px;
  background: #3d7ba8;
  color: white;
}
table tr:nth-child(odd){
  background: #DDDBFF;
}
table td{
  padding: 10px;
}
.link_edit{
  color: #0ca4ce;
}
.link_delete{
  color: #f26b6b;
}