body{
    font-family: Helvetica;
    background-color: white;
}

.nav {
    background-color:gainsboro;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 100px;
    font-weight: bold;
}

.logo img {
    max-height: 100px; 
    
}

.boton_personalizado1{
    position: relative;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 60px;  
    margin: 0 5rem;
    cursor: pointer;
    background-color: rgba(231,229,230,255);
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;    
}
.boton_personalizado2{
    position: relative;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 60px;  
    margin: 0 5rem;
    cursor: pointer;
    background-color: rgba(217,217,217,255);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    
    
}
.boton_personalizado3{
    position: relative;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 60px;  
    margin: 0 5rem;
    cursor: pointer;
    background-color: rgba(217,217,217,255);
    font-weight: 600;
    font-size: 18px;  
    text-decoration: none;
    
}
.boton_personalizado1:visited{
    color:blue;
}
.boton_personalizado2:visited{
    color:blue;
}
.boton_personalizado3:visited{
    color:blue;
}

.boton_personalizado2:hover{    
    background-color: rgba(231,229,230,255);
    padding: 10px;
}
.boton_personalizado3:hover{    
    background-color: rgba(231,229,230,255);
    padding: 10px;
}







        
        .boton {
            float:right;           
           
            
       }
       .busqueda{
           float: right
       }
       .lupa{
            float: right;
        } 
        
        #Tabla1{
            margin: 30px auto;
            widht: 600px;
        }
        table{
            width: 100%;
            border-collapse: collapse;
            
        }
        th{
            height: 40px;
            background-color: #3d7ba8;
            color: white;
            
        }
        td, th{
            border: solid 1px white;
            padding: 3px;
        }
        tr:nth-child(even){
            background-color:#DDDBFF;            
        }
        tr:hover{
            background-color:#3d7ba8;
            color: white;
            }
            
            
  .menu button {
    background-color: blue;
    color: white;
    position: relative;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 70px;
    margin: 0 5rem;
}

button{
    background-color:blue;
    border: none;
    height: 30px;
    font-weight: bold;
    color:white;
}

button:hover {
    border: 2px solid;
}

.ScreenName {
    background-color: rgb(208, 209, 206);
    height:40px;
    font-size: 15px;
    text-align: center;
    padding: 3px;
    font-weight: bold;
}