.nav {
    background-color:gainsboro;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0;
}


.logo img {
    max-height: 50px; 
}

.enlaces a {
    margin: 0 5rem;
    cursor: pointer;  
}

.enlaces a {
    position: relative;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 50px;
}

.enlaces{
    color: blue
    
}

.enlaces a:hover {
    text-decoration: underline;
}