html {
    font-family: 'Helvetica';
    background-color: white;
}

.header {
    background-color:gainsboro;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 100px;
    font-weight: bold;
}

.logo img {
    max-height: 100px;
}

.menu button {
    background-color: blue;
    color: white;
    position: relative;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 70px;
    margin: 0 5rem;
}

button{
    background-color:blue;
    border: none;
    height: 30px;
    font-weight: bold;
    color:white;
}

button:hover {
    border: 2px solid;
}

.ScreenName {
    background-color: rgb(208, 209, 206);
    height:40px;
    font-size: 15px;
    text-align: center;
    padding: 3px;
    font-weight: bold;
}

.AddLookVenta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.TextToSearch {
    display: flex;
    padding-top: 10px;
}

.lupa {    
    margin-left: 0cm; 
    
}

.Data Table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

.Data Table{
    width:70%;
    height:200px;
    margin-left: 200px;
}

.Data th{
    height: 40px;
    background-color: #3d7ba8;
    color: white;
}


.Data tr:nth-child(even){
    background-color:#DDDBFF;
}
.Data tr:hover{
    background-color:#3d7ba8;
    color: white;
    }
.EditarVenta {
    margin-left: 1150px;
}

